<!-- _includes/projects_horizontal.liquid -->
<div class="card mb-3">
  <div class="row g-0">
    {% if project.img %}
    <div class="col-md-4">
      <img src="{{ project.img | relative_url }}" class="img-fluid rounded-start" alt="{{ project.title }}">
    </div>
    {% endif %}
    <div class="{% if project.img %}col-md-8{% else %}col-md-12{% endif %}">
      <div class="card-body">
        <h5 class="card-title">{{ project.title }}</h5>
        <p class="card-text">{{ project.description }}</p>
        <a href="{{ project.url | relative_url }}" class="btn btn-primary">View Project</a>
      </div>
    </div>
  </div>
</div> 